.main-btn {
    background-color: $primary-color;
    color: $white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.125rem;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 0.6); 
    }
}

.form-btn {
    margin-top: 10px;
    margin-bottom: 2rem;
    border-radius: 8px;
}


.see-more-btn {
    background-color: $background-color;
    font-weight: bolder;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 10px;

    &:hover {
        cursor: pointer;
        color: $primary-color;
    }
}

@include medium {
    .see-more-btn {
        background-color: $white;
    }
}

@include mobile {
    .see-more-btn {
        background-color: $white;
    }
}