.activity-card {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    border-radius: 20px;
    overflow: hidden;

    &:hover {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
    }
}

.hosting-card, .popular-card {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    border-radius: 20px;
    overflow: hidden;

    &:hover {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
    }
}
