.stars-container {
    font-size: 0.8rem;
}

.popular-card .stars-container {
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
}

.blue-star {
    color: $primary-color;
}

.grey-star {
    color: $background-color;
}